<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Genesis Driving School provides driving lessons for students in Carshalton, Sutton, Wallington, Banstead and all surrounding areas.">
	<title>{{ title }}</title>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "Genesis Driving School",
            "image": "https://res.cloudinary.com/rdl/image/upload/v1719475484/gds.com/Screenshot_2024-06-27_at_09.04.10.png",
            "@id": "https://genesisdriving.com",
            "url": "https://genesisdrivingschool.com",
            "telephone": "07852 271433",
            "priceRange": "Lessons from £36 p.h.",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "West Street Lane",
                "addressLocality": "Carshalton",
                "postalCode": "SM5 2QA",
                "addressCountry": "GB"
            }
        }
    </script>
    <link rel="icon"
          type="image/png"
          href="/assets/images/favicon.png">
	{{> _google-fonts }}
	<link rel="stylesheet" href="/assets/styles/style.css" />
	<script src="/assets/scripts/main.js" defer></script>
</head>
<body>

    {{> _navbar }}
	{{{ content }}}
</body>
</html>
