<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Genesis Driving School provides driving lessons for students in Carshalton, Sutton, Wallington, Banstead and all surrounding areas.">
	<title>{{ title }}</title>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "Genesis Driving School",
            "image": "https://scontent-lhr6-2.xx.fbcdn.net/v/t31.18172-8/14206027_1115461478501005_4493770169763123970_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=c2f564&_nc_ohc=J6gojMYc2aoAX8m2r4d&_nc_ht=scontent-lhr6-2.xx&oh=00_AfBzuNteeRdC4YTJ8ywyVZovnwEQThtPzV-aVlkg3AuOBg&oe=659A9CF4",
            "@id": "https://genesisdriving.com",
            "url": "https://genesisdrivingschool.com",
            "telephone": "07852 271433",
            "priceRange": "Lessons from £36 p.h.",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "West Street Lane",
                "addressLocality": "Carshalton",
                "postalCode": "SM5 2QA",
                "addressCountry": "GB"
            }
        }
    </script>
    <link rel="icon"
          type="image/png"
          href="/assets/images/favicon.png">
	{{> _google-fonts }}
	<link rel="stylesheet" href="/assets/styles/style.css" />
	<script src="/assets/scripts/main.js" defer></script>
</head>
<body>

    {{> _navbar }}
	{{{ content }}}
</body>
</html>
