---
title: "Genesis Driving School"
layout: "base.hbs"
---

<section class="hero">
    <div class="content-inner">
        <div class="brand">
            <span>{{ title }}</span>
        </div>
        <p>Friendly DSA approved grade A driving instructor with a proven track record & high pass rates, offering manual or automatic driving
           lessons in Carshalton, Wallington, Sutton, Banstead, Purley and all surrounding areas.</p>
        <div class="associations flex">
            <img src="/assets/images/logo-dsa.png" alt="Driving Standards Agency Logo">
            <img src="/assets/images/logo-passplus.png" alt="Pass Plus logo">
            <img src="/assets/images/logo-ttp.png" alt="Theory Test Pro logo">
        </div>
    </div>
</section>
<main>
    <section>
        <div class="content-inner flex">
            <div class="section-panel-full">
                <div class="content">
                    <h2>Driving Lessons</h2>
                    <p><strong>Driving lessons are from £30 per hour</strong> with
                       an introductory offer of <strong>5 one-hour lessons for £150</strong>, paid in advance. Get your driving off to a flying start in a relaxed, friendly environment.</p>
                    <a class="btn" href="/lessons">Book Driving Lessons</a>
                </div>
                <div class="img">
                    <img src="/assets/images/gds-car-cropped.jpg" alt="Image of car">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="content-inner flex">
            <div class="section-panel-half">
                <div class="content">
                    <h2>Flexible Driving Courses</h2>
                    <p>Genesis Driving School offers single 1 or 2-hour driving lessons, block intensive courses,
                       Pass Plus, Motorway and refresher courses. <strong>School, college or work pick-ups no
                            problem.</strong></p>
                    <a class="btn" href="/lessons">Book Driving Courses</a>
                </div>
            </div>
            <div class="section-panel-half">
                <div class="content full-width">
                    <h2>Free Learner Driver Resources</h2>
                    <p>All Genesis Driving School students will be provided with <strong>FREE, unlimited access to
                        Theory Test Pro</strong> and all the official questions from the DSA - including all new changes.</p>
                    <a class="btn" href="/resources">Kick-start your Theory</a>
                </div>
            </div>
        </div>
    </section>
    </main>
