@use "mixin" as *;

$brand-color: hsl(43 90% 65% / 1); //#f5c443;
$brand-color-dark: hsl(42 77% 53% / 1); //#f5c443;
$brand-highlight-color: hsl(16 80% 50% / 1); //#f5c443;
$bgd-color: hsl(53 4% 93% / 1); //#edece4;
$grey-lightest: hsl(150 1% 96% / 1);
$grey-dark: hsla(0 1% 27% / 1);
$grey-darkest: hsla(0 1% 20% / 1);
$grey-black: hsl(240 26% 12% / 1);

$bgd-1: #F4F6F5;

$bgd-3: hsl(150 3% 95% / 1); //#E5EDE8;


$nav-gap: 2rem;
$font-display: 'Antonio', sans-serif;
$font-size: 1rem;
$font-default: 'Barlow', sans-serif;
$header-height: 5rem;
$radius: .3125rem;

// defaults
footer {
	background-color: $grey-darkest;
	min-height: 300px;
	margin-top: 2rem;
	border-top: 2px solid black;
}

// utils
.hidden {
	display: none;
}
.padding-top-5 {
	padding-top: 5rem;
}
.flex {
	display: inline-flex;
	gap: $nav-gap;
}
img {
	object-fit: cover;
}

.btn {
	display: inline-flex;
	justify-content: center;
	padding: 1rem 1.25rem;
	margin-top: 1rem;
	background: $brand-highlight-color;
	border: 2px solid $brand-highlight-color;
	color: white;
	border-radius: $radius;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color .3s ease-out;
	&:hover {
		background-color: darken($brand-highlight-color, 5%);
	}
}


// Primary nav
.global-header {
	position: fixed;
	z-index: 999;
	inset: 0 0 auto 0;
	background: url("../images/gds-bgdimage.jpg") no-repeat top;
	background-size: cover;
	align-items: center;
	justify-content: space-between;
	height: $header-height;
	transition: all .3s ease-out;
	.logo {
		margin: 1rem;
		align-items: center;
		transition: all .3s ease-out;
		svg { height: 2rem; }
		h1 {
			margin-left: -1rem;
			font-family: $font-display;
			font-size: 1.625rem;
			padding-bottom: .125rem;
			opacity: 0;
			transition: all .3s ease-out;
		}
	}
	&.open {
		@include boxShadow();
		.logo h1 {
			opacity: 1;
			transform: translateX(-.625rem);
		}
	}

}
.global-nav {
	justify-content: end;
	font-size: 1rem;
	margin: 1rem;
	padding: 1em;
	a {
		font-weight: 600;
		letter-spacing: 1px;
		font-size: .9rem;
		transition: all .3s ease-out;
		&:hover {
			color: white;
			cursor: pointer;
		}
	}
	.active, [aria-current] { color: red; }
}
main {
	background-color: white;
	min-height: 100vh;
}
.hero {
	padding: 3rem;
	background: url("../images/gds-bgdimage.jpg") no-repeat top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $grey-darkest;
	//transition: all .3s ease-out;
	.brand {
		padding: 0 3rem;
		display: flex;
		align-items: center;
		span {
			font-family: $font-display;
			font-size: 3.25rem;
			color: black;
			letter-spacing: -.1rem;
			line-height: 1.1;
			//padding: 0 0 .15em .125em; // adjust vertical pos. vs logo
		}
	}
	svg { height: 4rem;}

	p {
		margin:1rem 3rem 0;
		font-size: 1.5rem;
		line-height: 1.4;
	}
	.associations {
		margin: 1rem 3rem 0;
		align-items: center;
		justify-content: flex-end;
		img {
			height: 3.25rem;
			width: auto;
		}
	}
}
section {
	display: flex;
	justify-content: center;
	.content-inner {
		max-width: 75rem;
		padding: 2rem 2rem 0;
		margin: 0 auto;
	}
	h2 {
		font-family: $font-display;
		font-size: 2.25rem;
		text-transform: uppercase;
		letter-spacing: -1px;
		color: $brand-highlight-color;
	}
	&.bgd-grey {
		background-color: $grey-lightest;
	}
};

.cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	color: $grey-dark;
	h3 {
		color: hsla(0 1% 20% / 1);
		font-family: $font-display;
		font-size: 2rem;
	}
	p {
		margin: 1rem 0;
	}
	a {
		display: inline-block;
		font-family: $font-display;
		color: $brand-highlight-color;
	}
}
.card {
	width: 33.333%;
	padding: 2.5rem 3rem 3rem;
	background: $grey-lightest;
	border-radius: $radius;
	@include boxShadow();
}
.section-panel-full, .section-panel-half {
	width: 100%;
	display: flex;
	background-color: $grey-lightest;
	overflow: hidden;
	border-radius: $radius;
	@include boxShadow();
	.content {
		width: 62%;
		padding: 2.5rem 1rem 3rem 3rem;
		color: $grey-dark;
		h2 {
			text-transform: none;
			line-height: 1.1;
		}
		p {
			margin: 1rem 0;
		}
	}
	.img {
		text-align: center;
		align-self: center;
		width: 38%;
		object-fit: cover;
	};
}
.section-panel-half {
	flex-direction: column;
	.content {
		width: 100%;
		padding: 2.5rem 3rem 3rem;
		h2 {
			text-transform: none;
			line-height: 1.1;
		}

		p {
			margin: 1rem 0;
		}
		.logo {
			width: 4rem;
			height: auto;
		}
	}
}
.grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	.col-span-2 {
		grid-column: 1 / span 2;
		padding-bottom: .5rem;
	}
	h3 {
		text-transform: none;
		line-height: 1.5;
		font-size: 1.25rem;
		font-family: $font-default;
		font-weight: 600;
	}
}
.txt-right { text-align: right;}

.gallery {
	width: 100vw;
	background-color: $bgd-color;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
	gap: 1rem;
	margin: 0;
	padding:1rem;
	.student-card {
		background-color: white;
		border-radius: $radius;
		background-clip: border-box;
		overflow: hidden;
		@include boxShadow();
		img {
			width: 100%;
			aspect-ratio: 1.614 / 1;
			object-fit: cover;
			overflow: hidden;
			transition: transform .3s ease-out;
			&:hover {
				transform: scale(1.05);
			}
		}
		.panel {
			padding: .75rem;
			font-size: .875rem;
			font-style: italic;
			line-height: 1.4;
			.name {
				font-weight: 600;
				text-align: right;
				font-style: normal;
			}
		}
	}
}

